* {
  box-sizing: content-box;
}
main.chat-wrapper {
  width: 100%;
  max-width: 444px;
  height:100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main.chat-wrapper section {
  height: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto 70px;
}
main.chat-wrapper .avatar {
  vertical-align: middle;
  border-radius: 50%;
  height: 28px;
  width: 28px;
}
/* top bar */
main.chat-wrapper section .chat-top-bar {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}
/* messages */
main.chat-wrapper section .messages-container {
  overflow: auto;
  border-bottom: 1px solid #000;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
/* send message */
main.chat-wrapper section .send-message-form {
  position: relative;
  padding: 10px 5px;
  background: #6f6f6f;
}
main.chat-wrapper section .send-message-form .send-message-input {
  display: block;
  width: 70%;
  border-color: #E5E5E5;
  font-size: 14px;
  line-height: 12px;
  padding: 15px 100px 15px 15px;
  max-height: 44px;
  border-radius: 50px;
  overflow: hidden;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
main.chat-wrapper section .send-message-form .send-message-button {
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: calc(50% - 16px);
  right: 28px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  border-radius: 30px;
  line-height: 0;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}



@media (min-width:600px) {
  main.chat-wrapper {
    padding-left: 24px;
    padding-right: 24px;
  }
}